// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 700

.teko-<uniquifier> {
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}




:root {
  --blue: #9ab3f5;
  --purple: #9a1663;
  --white: #ffffff;
  --shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
* {
margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-family: "Montserrat", sans-serif;
}

body{
    display:flex;
    align-items:center;
    justify-content:center;
    height:80vh;
    background-color:#ddddff;

}

.search-bar{
    display:flex;
    align-items: center;
    min-width: 800px;
    border-radius:50px;
    background-color: var(--white);
}

.dropdown{
    position: relative;
    width: 700px;
    border-radius: 50px;
    border: 1px solid var(--white);
    background-color:var(--purple);
    box-shadow: var(--shadow);
    cursor:pointer;
}

.dropdown-text{
    display:flex;
    align-items: center;
    justify-content:space-between;
    font-size: 1rem;
    font-weight: 500;
    color: var(--white);
    padding:1.25rem 1.5rem;
}

.dropdown-list{
position:absolute;

top:5rem;
left:0%;
width:100%;
border-radius:15px;
max-height:0px;
overflow:hidden;
background-color:var(--white);
transition:max-height 0.5s;
}

#list.show{
max-height:900px;
}


.dropdown-list-item {
font-size:1rem;
font-weight:800;
padding:1rem 0 1rem 1.5rem;
cursor:pointer;
transition:margin-left 0.2s ease.color 0.2s ease;
}

.dropdown-list-item:hover{
    margin-left:2rem;
    color:var(--purple);
    
}


.search-box{
    display: flex;
    align-items: center;
    padding-right: center;
    width: 200%;
    right:50%;
    color:var(--purple);
}

.search-box input{
     padding: 1rem;
     width: 100%;
     font-size: 1.5srem;
     font-width:500;
     color:var(--purple);
     border: 0;
     outline:0;
}

.search-box i{
    font-size: 1.5rem;
    cursor:pointer;
}

.search-box input::placeholder{	
	font-size:1.5rem;
        color:var(--purple);
}